/*
 * An attempt to speed up read mapping step, 5/30/2022
 * added MarkDuplicates on 6/1/2022
 * added aws.batch settings on 6/1/2022 
 */

process {
  withName:MapReads {
   cpus = {params.max_cpus}
   memory = 256.GB
  }
  withName:BuildBWAindexes {
   cpus = {params.max_cpus}
   memory = {params.max_memory}
  }
  withName:MarkDuplicates {
   cpus = {params.max_cpus}
   memory = {params.max_memory}
  }  
}

aws {
    batch {
        maxParallelTransfers = 1
        maxTransferAttempts = 3
    }
}
